{% extends 'css_base.html' %}
{% load static %}

{% block include %}
    <link rel="stylesheet" type="text/css" href="{% static "posts/post_css.css" %}">
{% endblock %}

{% block title %}
  {{club_name}}
{% endblock %}

{% block content %}
    <div style="margin-top:150px">
        {% for time_stamp,post in posts.items %}
            <div class="row m-40 p-10">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 p-5 card">
                <div class="container bg-light display-4" >
                    <h3>Posted on: {{time_stamp}}</h3><br>
                        {% for lines in post %}
                            {% if "http" in lines %}
                            <a href="{{lines}}">{{lines}}</a>
                            {% else%}
                                {{ lines }}
                            {% endif %}
                            <br>
                        {% endfor %}
                </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <br><br>
        {% endfor %}
    </div>
{% endblock %}