<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign UP</title>
</head>
<body>

{% if error %}
{{error}}
<br>
<br>
{% endif %}


<h1>Sign Up!</h1>

<form method="POST" action="{% url 'signUP'  %}">
    {% csrf_token  %}
    Username:
    <br>
    <input type="text" name="username"></input>
    <br>
    Password:
    <br>
    <input type="password" name="password1"></input>
    <br>
    Confirm Password:
    <br>
    <input type="password" name="password2"></input>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Sign Up!"></input>
</form>

</body>
</html>